<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 60px;
        }

        input:read-only {
            background: lightgray;
        }

    </style>
</head>
<body>
<h3>Администрирование пользователей</h3>

<div th:insert="userCreate.html :: userCreat"></div>
<br>
<a th:href="@{/user/create}" href="userCreate.html">Можно создать пользователя и на отдельной странице!</a>
<br>

<h4> Все пользователи</h4>

<ul>
    <li th:each="user : ${users}" th:utext="
    '<b>name </b>'+${user.name} +
    '<b> age </b>' + ${user.age} +
    '<b> adress </b>' + ${user.address} +
    '<b> phones </b>'+ ${user.getPhones()}">
        Вася Пупкин
    </li>

</ul>

</body>
</html>