<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<h4>Создать пользователя</h4>
<form id="create-form" method="post" th:action="@{/user/save}" th:object="${createdUser}" accept-charset="utf-8">
    <h1>New User:</h1>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="name" type="text" th:value="${createdUser.name}" value="John Doe"/>
        <label for="holder-input1">Age:</label>
        <input id="holder-input1" name="age" type="text" th:value="${createdUser.age}" value="25"/>
        <label for="holder-input2">Address:</label>
        <input id="holder-input2" name="address" type="text" th:value="${createdUser.address}" value="Moskow"/>
        <label for="holder-input3">Phone:</label>
        <input id="holder-input3" name="phone" type="text" th:value="${createdUser.phones[0]}" value="00000000"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
<h4> Все пользователи 1</h4>

<ul>
    <li th:each="user : ${users}" th:utext="
    '<b>name </b>'+${user.name} +
    '<b> age </b>' + ${user.age} +
    '<b> adress </b>' + ${user.address} +
    '<b> phones </b>'+ ${user.getPhones()}">
        Вася Пупкин
    </li>

</ul>

</body>
</html>