<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница Администратора</title>
</head>
<body>
<h4>Создать пользователя</h4>
<form action="/api/user/" method="post">
        Имя : <input type="text" name="name" value="user">
        Возраст : <input type="text" name="age" value="5">
        Адрес : <input type="text" name="address">
        Телефон : <input type="text" name="phone">
    <input type="submit" value="создать пользователя">
</form>
<#if createdUser??>Создан ${createdUser.name}, ${createdUser.age}, ${createdUser.address}, ${createdUser.phones}!</#if>
</body>
</html>